.tocAreaButton .expansion::before {
  transform: rotate(-45deg) translateX(2.5px);
}

.tocAreaButton .expansion::after {
  transform: rotate(45deg) translateX(-2.5px);
}

/* ↑ */
.tocAreaButton .open::before {
  transform: rotate(45deg) translateX(2.5px);
}

.tocAreaButton .open::after {
  transform: rotate(-45deg) translateX(-2.5px);
}

.tocAreaButton {
  user-select: none;
  appearance: none;
  background: none;
  border: none;
  display: block;
  font-family: sans-serif;
  width: 100%;
  font-size: 0.9em;
  text-align: left;
  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
  color: #aaa;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  position: relative;
}

.tocAreaButton:hover {
  background: rgba(0, 0, 0, 0.05);
}

.tocAreaButton:active {
  background: rgba(0, 0, 0, 0.1);
}

.active {
  color: #1565c0;
  border-bottom: 2px solid #1565c0;
}

/* 二级目录 */
.tocAreaButton .expansion {
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  right: 12px;
  position: absolute;
  width: 10px;
  background-color: #a2a5b4;
  transition:
    transform 0.3s ease-in-out,
    top 0.3s ease-in-out;
}

.tocAreaButton .expansion::after,
.tocAreaButton .expansion::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: currentcolor;
  border-radius: 2px;
  transition:
    transform 0.3s ease-in-out,
    top 0.3s ease-in-out;
}