.custom-css-demo .readerArea {
  background: #000 !important;
}
.custom-css-demo .readerArea .titleArea {
  color: #ccc !important;
}
.custom-css-demo .readerArea .arrow {
  color: white !important;
}

.custom-css-demo .tocArea {
  color: #ccc !important;
  background: #111 !important;
}

.custom-css-demo .tocButtonExpanded {
  background: #222 !important;
}

.custom-css-demo .tocButtonBar {
  background: #fff !important;
}

.custom-css-demo .tocButton {
  color: white !important;
}
