node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Docs
docs/dist
docs/.dumi/tmp
docs/.dumi/tmp-test
docs/.dumi/tmp-production
docs/.DS_Store
docs-dist

# Library
lib
