@import '../../../src/index.css';

:root {
  --vp-c-brand-1: #f44336;
  --vp-c-brand-2: #f44336;
  --vp-home-hero-image-filter: blur(100px);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-1) 45%,
    var(--vp-c-brand-2)
  );

  --vp-button-brand-border: #f44336;
  --vp-button-brand-bg: #f44336;
}
