@import 'tailwindcss';
@theme {
  --color-orange-500: #f97316;
  --color-neutral-500: #737373;
  --color-sky-700: #0369a1;
  --color-black: #000;
  --color-white: #fff;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  position: absolute;
  height: 100%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
